p::first-letter{background-color: blueviolet;}

p::first-line{background-color: cadetblue;}

p::after{
    content:"😆";
}

p::before{
    content: "😃";
}
li::marker{
    content: "🐹";
}
p::selection{
    background-color: hotpink;
    color: darkgreen;
}